<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FARobot | <%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- FARobot style -->
  <link rel="stylesheet" href="/dist/css/general-style.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>

<body class="hold-transition login-page farobot-bg-dark">
  <% if (isExpired) { %>
    <div class="error-page">
      <h2 class="headline text-warning"><i class="fas fa-exclamation-triangle text-warning"></i></h2>
      <div class="error-content">
        <h3 class="text-warning">Oops! Page not found.</h3>
        <p class="text-white">
          Sorry, the link was expired. Or this link was already used to reset the password.<br>
          You may return to <a href="/login.html">log in</a>.
        </p>
      </div>
    </div>
  <% } else { %>
      <div class="login-box" style="width: 665px">
        <div class="login-logo">
          <img src="/dist/img/FARobotLogo_lg.png" width="665" height="126">
        </div>
      </div>

      <!-- Horizontal Form -->
      <div class="card card-primary w-25">
        <div class="card-header">
          <h3 class="card-title">
            <%= title %>.
          </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="reset-pwd-form" method="post" class="form-horizontal">
          <input type="hidden" name="token" class="form-control" value="<%= token %>">
          <div class="card-body bg-light">
            <div class="form-group row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" id="user-password" name="userPwd" placeholder="password">
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
      <!-- /.card -->
  <% } %>

  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- jquery-validation -->
  <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script scr="/plugins/jquery-validation/additional-methods.min.js"></script>

  <script src="/dist/js/pages/far_reset_password.js"></script>

</body>

</html>