<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body"></div>
    <div class="modal-footer">
      <div style="width: 100%;">
        <div class="col-12">
          <span>Priority adjustment</span>
        </div>
        <div class="col-12">
          <select id="task_priority_select" class="form-select" aria-label="Task priority select" style="float: left; width: 50%;">
            <option value="0" selected>Setting in the Flow editor</option>
            <option value="5">Highest</option>
            <option value="4">High</option>
            <option value="3">Normal</option>
            <option value="2">Low</option>
            <option value="1">Lowest</option>
          </select>
          <button type="button" data-i18n="general.btn_Confirm" data-dismiss="modal" class="btn btn-primary" id="add-manual" style="float: right;">Confirm</button>
          <button type="button" data-i18n="general.btn_Cancel" data-dismiss="modal" class="btn btn-default" style="float: right; margin-right: 10px;">Cancel</button>
        </div>
      </div>     
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->